<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find rosiwit_simulator)/urdf/xacro/gazebo/mbot_base.xacro" />
    <xacro:include filename="$(find rosiwit_simulator)/urdf/xacro/sensors/camera_gazebo.xacro" />

    

    <xacro:usb_camera prefix="camera"/>

    <mbot_base/>

</robot>
